.idea/.name
.idea/AIA - Project 1.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/data.cpython-34.pyc
__pycache__/plot.cpython-34.pyc
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.aux
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.fdb_latexmk
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.fls
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.log
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.pdf
Report/ELEN0062 - DANTHINE - SERVAIS - Project 1 - Report.synctex.gz
*.pdf
*.png
utils.cpython-34.pyc
